*{
  margin: 0px; 
}

a{
  text-decoration: none; 
  color: black; 
}

form{
  max-width: 350px;
  margin: 0px auto; 
  border-radius: 5px; 
  margin-top: 25px; 
  padding: 10px; 
}

form .button-wrapper{
  display: flex; 
  justify-content: space-between;
  margin-top: 25px;
}

form button{
  background-color: lightgray; 
  font-size: 18px; 
}

form .button-save{
  margin-left: auto; 
}

form button:hover{
  cursor: pointer;
}

form .input-wrapper{
  margin-top: 10px; 
  display: flex; 
}

form label{
  width: 100px; 
}

form .radio{
  width: 25px;
}

form .radio-wrapper{
  display: flex; 
  align-items: center; 
}

form input, textarea, select{
  border: 1px solid black; 
  width: 150px; 
}

form .user-form-communities-wrapper{
  margin-top: 10px; 
}

form .user-form-communities-subcommunity-wrapper{
  padding: 5px; 
}

form .user-form-communities-subcommunity-wrapper-input{
  width: auto; 
}

form .user-form-communities-subcommunity-wrapper-label{
  width: auto; 
}

.list-wrapper{
  padding: 0px;
  margin: 10px;
}

.list-item{
  margin: 10px auto; 
  list-style: none; 
  border: 1px solid black; 
  min-width: 150px; 
  max-width: 500px; 
  height: 50px; 
  line-height: 50px; 
  border-radius: 5px; 
}

.list-item a{
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}

.list-item:hover{
  box-shadow: 2px 2px 2px black; 
  cursor: pointer; 
  color: gray; 
}

.list-item div{
  margin: 0px 20px; 
}

.modal-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-content{
  background-color: white;
  margin: 50px auto;
  max-width: 500px;
  width: 75%;
  height: auto;
  min-height: 200px;
}

.modal-content-links-wrapper{
  
}

nav{
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  background-color: lightgray;
  height: 50px;
  z-index: 1; 
}

nav a{
  margin-left: 10px; 
}

nav .active{
  color: white; 
}

.user-challenge-entries-challenge-title{
  position: sticky;
  z-index: 0; 
  top: 50px;
  background-color: white;
  text-align: center;
}

.user-nav-tabs{
  width: 400px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin: 25px auto;
}

.user-nav-tabs>a{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.user-nav-tabs .active{
  background-color: lightgrey;
  color: white;
}