/* color: #2F9400 */

*{
  margin: 0px; 
}

a{
  text-decoration: none; 
  color: black; 
}

form{
  max-width: 350px;
  margin: 0px auto; 
  border-radius: 5px; 
  margin-top: 25px; 
  padding: 10px; 
}

form .button-wrapper{
  display: flex; 
  justify-content: space-between;
  margin-top: 25px;
}

form button{
  background-color: lightgray; 
  font-size: 18px; 
}

form .button-save{
  margin-left: auto; 
}

form button:hover{
  cursor: pointer;
}

form .input-wrapper{
  margin-top: 10px; 
  display: flex; 
}

form label{
  width: 100px; 
}

form .radio{
  width: 25px;
}

form .radio-wrapper{
  display: flex; 
  align-items: center; 
}

form input, textarea, select{
  border: 1px solid black; 
  width: 150px; 
}

form .user-form-communities-wrapper{
  margin-top: 10px; 
}

form .user-form-communities-subcommunity-wrapper{
  padding: 5px; 
}

form .user-form-communities-subcommunity-wrapper-input{
  width: auto; 
}

form .user-form-communities-subcommunity-wrapper-label{
  width: auto; 
}

.communities-list-container{

}

.communities-list-item-view-subcommunities>.communities-list-item-subcommunities-list{
  display: block; 
}

.communities-list-item-button{
  border: 0px; 
  background-color: white; 
  font-size: 24px;
}

.communities-list-item-community-wrapper{
  display: flex;
  align-items: center;
  margin: 10px auto;
  min-width: 150px;
  max-width: 500px;
}

.communities-list-item-link-wrapper{
  display: flex;
  width: 100%; 
  height: 60px;
  line-height: 60px;
  border: 1px solid black;
  border-radius: 5px; 
}

.communities-list-item-link{
  margin: 0px 20px; 
}

.communities-list-item-subcommunities-list{
  border: 1px solid black;
  max-width: 350px;
  margin: 10px auto;
  display: none; 
}

.communities-list-item-subcommunities-list h2{
  text-align: center; 
}

.communities-list-item-subcommunities-list-item{
  padding: 5px;
  margin: 5px auto;
  max-width: 300px;
  height: 35px;
  line-height: 30px;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
}

.list-main-wrapper{
  padding: 0px;
  margin: 10px;
}

.list-main-item{
  display: flex;
  height: 60px;
  line-height: 60px;
  margin: 10px auto;
  border: 1px solid black;
  min-width: 150px;
  max-width: 500px;
  border-radius: 5px;
}

.list-main-item a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.list-main-item:hover{
  box-shadow: 2px 2px 2px black; 
  cursor: pointer; 
  color: gray; 
}

.list-main-item div{
  margin: 0px 20px; 
}

.modal-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-content{
  background-color: white;
  margin: 50px auto;
  max-width: 500px;
  width: 75%;
  height: auto;
  min-height: 200px;
}

.modal-content-close-button{
  float: right; 
}

.modal-content-links-wrapper{
  
}

.modal-content-link{
  display: block; 
  padding: 5px; 
}

.modal-content-link.indent{
  margin-left: 25px; 
}

nav{
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  background-color: lightgray;
  height: 50px;
  z-index: 1; 
}

nav a{
  margin-left: 10px; 
}

nav .active{
  color: white; 
}

.user-challenge-entries-challenge-title{
  position: sticky;
  z-index: 0; 
  top: 50px;
  background-color: white;
  text-align: center;
}

.users-list-item{
  display: flex;
  align-items: center;
  margin: 10px auto;
  border: 1px solid black;
  min-width: 150px;
  max-width: 500px;
  height: 60px;
  border-radius: 5px;
}

.users-list-item-links-wrapper{
  display: flex;
  align-items: center; 
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.users-list-item-link:hover .users-list-item-link-tooltip{
  visibility: initial; 
}

.users-list-item-link-transactions:hover .users-list-item-link-tooltip{
  visibility: initial; 
}

.users-list-item-link-icon{
  display: block;
  height: 40px;
  margin: auto;
}

.users-list-item-link-transactions{
  margin-top: 20px;
  text-align: center;
}

.users-list-item-link-tooltip{
  visibility: hidden; 
  background-color: green;
  color: white;
  line-height: 20px;
  margin-top: 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

.users-list-item-name{
  margin-left: 10px;
  width: 100%;
  min-width: 75px;
}

/* .user-nav-tabs{
  width: 400px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin: 25px auto;
}

.user-nav-tabs>a{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.user-nav-tabs .active{
  background-color: lightgrey;
  color: white;
} */