*{
  margin: 0px; 
}

a{
  text-decoration: none; 
  color: black; 
}

nav{
  position: sticky; 
  top: 0px; 
  background-color: lightgray;
  height: 50px; 
  width: 100%; 
}

header{
  position: sticky; 
  top: 50px; 
  background-color: white; 
}

form{
  max-width: 350px;
  margin: 0px auto; 
  border-radius: 5px; 
  margin-top: 25px; 
  padding: 10px; 
}

form .button-wrapper{
  display: flex; 
  justify-content: space-between;
  margin-top: 25px;
}

form button{
  background-color: lightgray; 
  font-size: 18px; 
}

form .button-save{
  margin-left: auto; 
}

form button:hover{
  cursor: pointer;
}

form .input-wrapper{
  margin-top: 10px; 
  display: flex; 
  align-items: center; 
}

form label{
  width: 100px; 
}

form .radio{
  width: 25px;
}

form .radio-wrapper{
  display: flex; 
  align-items: center; 
}

form input, textarea, select{
  border: 1px solid black; 
  width: 150px; 
}

form .user-form-communities-section{
  margin-top: 10px; 
}

form .user-form-communities-subcommunity-wrapper{
  padding: 5px; 
}

form .user-form-communities-subcommunity-wrapper-input{
  width: auto; 
}

form .user-form-communities-subcommunity-wrapper-label{
  width: auto; 
}

.list-container-primary{
  padding: 0px;
  margin: 10px;
}

.list-container-primary-item{
  margin: 10px auto; 
  list-style: none; 
  border: 1px solid black; 
  min-width: 150px; 
  max-width: 500px; 
  height: 50px; 
  line-height: 50px; 
  border-radius: 5px; 
}

.list-container-primary-item a{
  display: flex;
  margin-left: 10px; 
}

.list-container-primary-item:hover{
  box-shadow: 2px 2px 2px black; 
  cursor: pointer; 
}

.list-container-primary-item:hover a{
  color: gray; 
}

.nav-section{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-section a{
  margin-left: 10px; 
}

.user-nav-tabs{
    width: 400px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 25px;
}

.user-nav-tabs>a{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
